@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
}

pre:not(.prose) {
  background: initial !important;
  overflow: initial !important;
}

pre code.hljs {
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  @apply !rounded-lg shadow-2xl;
}

p {
  margin-block-start: 0.3rem;
  margin-block-end: 1rem;
}

mark {
  @apply bg-light-contrast dark:bg-dark-contrast text-dark dark:text-light;
}

hr {
  @apply border-light-contrast dark:border-dark-contrast;
}
